---
import Layout from "../layouts/Layout.astro";
import Header from "../components/sections/Header.astro";
import SideBar from "../components/sections/SideBar.astro";
---

<Layout title="Servidores DNS - Web">
  <Header />
  <main class="grid lg:grid-cols-4 gap-16 px-20 lg:px-32 pt-10 py-10">
    <SideBar
      uno="Introduccion"
      dos="Objetivos del proyecto"
      tres="Herramientas utilizadas"
      cuatro="Imagenes del proyecto"
      temaUno="Servidor DNS"
      temaDos="Servidor web"
      temaTres="Configuracion SSL"
    />
    <div class="flex flex-col gap-10 w-full lg:col-start-2 lg:col-end-5">
      <section class="flex flex-col gap-6 w-full lg:w-4/5">
        <h3 class="font-semibold text-4xl">Introduccion</h3>
        <p class="text-lg font-normal text-gray-600">
          En la siguiente documentacion estaremos creando una infraestructura
          utilizando dos servidores con ubuntu server lo cual permitira
          comunicar un cliente Ubuntu desktop con un sitio web local, todo por
          medio de un servidor DNS que estara redirigiendo la solicitud del
          cliente a un servidor web con apache.
        </p>
        <p class="text-lg font-normal text-gray-600">
          Se pondra en practica conceptos fundamentales de administracion de
          sistemas (SysAdmin), incluyendo la configuracion y gestion de
          servidores, implementacion de servicios DNS, configuracion de servidor
          web seguro y la interaccion entre distintos componentes de red.
        </p>
      </section>
      <section class="flex flex-col gap-6 w-full lg:w-4/5">
        <h3 class="font-semibold text-4xl">Objetivos del proyecto</h3>
        <ul class="flex flex-col gap-4">
          <li class="text-lg font-normal text-gray-600">
            1. Configurar Servidor DNS: Implementar un servidor DNS utilizando
            Bind9 para la resolucion de nombres de dominio en la red local.
          </li>
          <li class="text-lg font-normal text-gray-600">
            2. Implementar Servidor Web: Configurar un servidor web en Apache,
            con la capacidad de servir contenido de manera segura mediante una
            implementacion de certtificado SSL con OpenSSL.
          </li>
          <li class="text-lg font-normal text-gray-600">
            3. Interaccion Cliente-Servidor: Establecer una comunicacion entre
            un cliente Ubuntu Desktop y los servidores configurados, asegurando
            el correcto funcionamiento de todas las configuraciones.
          </li>
        </ul>
      </section>
      <section class="flex flex-col gap-6">
        <h3 class="font-semibold text-4xl">Herramientas utilizadas</h3>
        <ul class="flex flex-col gap-2">
          <li class="text-lg font-normal text-gray-600">Ubuntu Server 22.04</li>
          <li class="text-lg font-normal text-gray-600">
            Ubuntu Desktop 22.04
          </li>
          <li class="text-lg font-normal text-gray-600">Virtual Box</li>
          <li class="text-lg font-normal text-gray-600">
            Tabby y GitBash (Conexiones ssh)
          </li>
          <li class="text-lg font-normal text-gray-600">Apache2</li>
          <li class="text-lg font-normal text-gray-600">Bind9</li>
          <li class="text-lg font-normal text-gray-600">Openssl</li>
        </ul>
      </section>
      <section class="flex flex-col gap-6 w-full lg:w-4/5">
        <h3 class="font-semibold text-4xl">
          Demostracion visual del proyecto completo
        </h3>
        <p class="text-lg font-normal text-gray-600">
          En esta seccion, se presenta la visualizacion final del proyecto. A
          continuacion, se miestra el sitio web montado en el servidor Apache y
          la arquitectura de la infraestructura que permite la comunicacion
          entre el cliente y los servidores.
        </p>
        <div class="flex flex-col gap-4">
          <picture>
            <img
              src="/images/site.webp"
              alt="arquitectura del proyecto"
              class="lg:w-2/3"
            />
          </picture>
          <picture>
            <img
              src="/images/DNS-WEB.webp"
              alt="arquitectura del proyecto"
              class="lg:w-2/3"
            />
          </picture>
        </div>
      </section>
    </div>
  </main>
</Layout>
