---
import NavBar from "./NavBar.astro";
import Menu from "./Icons/Menu.astro";
---

<header class="bg-server h-96 bg-cover flex flex-col justify-between">
  <NavBar />
  <div class="m-10 md:m-20">
    <h1 class="text-4xl lg:text-5xl font-bold text-white">
      Servidor DNS & Web con Apache
    </h1>
  </div>
</header>
