<nav class="flex justify-end px-12 py-8">
  <ul class="flex gap-12">
    <a href="#" class="font-semibold text- text-white">Home</a>
    <a href="#" class="font-semibold text- text-white">DNS server</a>
    <a href="#" class="font-semibold text- text-white">Web server</a>
    <a href="#" class="font-semibold text- text-white">Project</a>
  </ul>
</nav>
